@import url(fonts.css);

html, body { margin: 0; padding: 0; height: 100%; }

html { font-size: 10px; }

/* remove link styling */
a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: steelblue;
	background-color: whitesmoke;
}

header {
	width: 100%;
	height: 40%;
	color: white;
	background-color: black;
	font-family: HeaderFont;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14rem;
	text-align: center;
}

nav {
	height: 60%;
	font-family: NavFont;
	font-size: 5rem;
}

nav > a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25%;
}
